/* ==BTFW_THEME_ADMIN_START== */
:root {
  --btfw-theme-bg: #110802;
  --btfw-theme-surface: #190d05;
  --btfw-theme-panel: #211b17;
  --btfw-theme-text: #fbe3c9;
  --btfw-theme-chat-text: #e6caad;
  --btfw-theme-accent: #d97436;
  --btfw-theme-font-family: 'Nunito', 'Segoe UI', sans-serif;
}
/* ==BTFW_THEME_ADMIN_END== */
